# Config
.git
.github
.vscode

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Node.js
node_modules
npm-debug.log
npm-debug.log.*
yarn-error.log

# Build
dist

# Secrets
.env
.env.sample

# Tests
coverage

# Docs
README.md
LICENSE
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
TODO.md
